.complete{
    background-color: #5cb85c;
    margin-right: 10px;
}

.notcomplete{
    background-color: #D953af;
    margin-left: 10px;

}

button{

    width: 5%;
    padding: 15px 10px;
    background-color: #333974;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;

  }

  button:hover{
    opacity: 1;
  }