
.pomodoro{
  background-color: '#4CAF50';
  
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center; 
  font-family: Arial, sans-serif;
}

.timer{
    font-size: 24px;
     margin-bottom: 20px;
}